@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Lấy lại mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Content/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="~/Content/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/assets/favicon/apple-icon-144x144.png">


    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Content/colorlib-regform-8/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/colorlib-regform-8/css/style.css">
    <style>
        .text-danger {
            color: #e61010;
        }
    </style>
</head>
<body style="min-height:700px">

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" class="signup-form">
                        @Html.AntiForgeryToken()
                        <h2 class="form-title">@ViewBag.Title</h2>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-input", placeholder = "Nhập email bạn đã đăng ký" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Liên Kết Email" />
                        </div>
                    </form>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/Content/colorlib-regform-8/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/colorlib-regform-8/js/main.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
