@model Handbook

@{
    ViewBag.Title = "Sửa bài viết Cẩm Nang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Edit", "Handbook", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="box">
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.DateCreated)
                        @Html.HiddenFor(m => m.Image)
                        <input type="hidden" name="OldTitle" value="@Model.Title" />
                        <input type="hidden" name="OldAlias" value="@Model.Alias" />

                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                         
                            <table class="table table-border-none table-middle">

                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Title)</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Description)</td>
                                    <td>
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Alias)</td>
                                    <td>
                                        @Html.TextBoxFor(model => model.Alias, new { type = "text", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sửa Hình (960 x 480) </td>
                                    <td>
                                        <input type="file" name="file" />
                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Content)</td>
                                    <td>
                                        @Html.TextAreaFor(m => m.Content)
                                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.IsHighlight)</td>
                                    <td>
                                        @Html.CheckBox("IsHighlight", Model.IsHighlight ?? false)
                                        @Html.ValidationMessageFor(model => model.IsHighlight, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.Display)</td>
                                    <td>
                                        @Html.CheckBox("Display", Model.Display ?? false)
                                        @Html.ValidationMessageFor(model => model.Display, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix text-right">
                        <button type="submit" class="btn bg-green btn-sm"><i class="fa fa-save"></i> Lưu</button>
                        @Html.ActionLink("Về danh sách", "Index", null, new { @class = "btn btn-default btn-sm", onclick = "return confirm('Các thay đổi sẽ không được cập nhật. Bạn vẫn muốn trở về danh sách?');" })
                    </div>
                </div>
            }
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

 

@section styles{
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- CK Editor -->
    <script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/ckfinder/ckfinder.js" type="text/javascript"></script>
    <script>
        $(function () {
            CKEDITOR.replace('Content');
            CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder")');
            $("#Title").keyup(function (e) {
                e.preventDefault();
                $.get("@Url.Action("GetAlias")", { Title: $(this).val() }, function (alias) {
                    $("#Alias").val(alias);
                });
            });
        })
    </script>

}


