@model Article
@{
    ViewBag.Title = "Thông Tin Bài Viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style type="text/css">
        body {
            font-family: "Roboto";
            background-color: #fafafa;
        }

        .container {
            margin: 150px auto;
            max-width: 400px;
        }

        h1 {
            text-align: center;
        }

        #languageform {
            box-sizing: border-box;
        }

            #languageform h2 {
                text-align: center;
                font-weight: 500;
                font-size: 32px;
                color: #636363;
            }

            #languageform p.input {
                margin-top: 20px;
            }

            #languageform input, #languageform textarea {
                width: 100%;
                box-sizing: border-box;
                padding: 5px 10px;
            }

            #languageform textarea {
                max-width: 100%;
                height: 100px;
            }

            #languageform input.button {
                background: #52b2ff;
                color: #FFF;
                border: 0;
                padding: 9px 0px;
                text-transform: uppercase;
                cursor: pointer;
            }

                #languageform input.button:hover, #languageform input.button:active {
                    background: #1f81d0;
                }

        #currentValue {
            margin-top: 20px;
            text-align: center;
            font-size: 25px;
        }

        #jqcs_s_demo {
            height: 35px;
        }

            #jqcs_o_demo .jqcs_option, #jqcs_s_demo .jqcs_option {
                background-repeat: no-repeat;
                background-size: 23px 17px;
                background-position: 5px center;
                padding: 2.5px 10px 2.5px 35px;
            }
    </style>
}

@section Scripts{
 
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-dashboard"></i> Bảng điều khiển</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    <div class="col-md-10">
                        <table class="table table-info table-border-none">
                            <tr>
                                <td>Mã số</td>
                                <td>@Html.DisplayFor(model => model.Id)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Title)</td>
                                <td>@Html.DisplayFor(model => model.Title)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.ArticleCategoryId)</td>
                                <td>@(Model?.ArticleCategory.Name)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Image)</td>
                                <td>
                                    <img src="~/Photos/Articles/@Model.Image" class="img-reponsive" />
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Display)</td>
                                <td>
                                    @if (Model.Display.HasValue && Model.Display.Value == true)
                                    {
                                        <span class="label label-success">Hiển thị</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Ẩn</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.DateCreated)</td>
                                <td>@Html.DisplayFor(model => model.DateCreated)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Alias)</td>
                                <td>@Html.DisplayFor(model => model.Alias)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(model => model.Content)</b></td>
                                <td></td>
                            </tr>
                             
                        </table>
                        <article style="clear:both">
                            @Html.Raw(Model.Content)
                        </article>
                    </div>
                    <div class="clearfix text-center">
                        <a href="@Url.Action("Edit", new { Id = Model.Id })" class="btn bg-blue btn-sm"><i class="fa fa-edit"></i> Sửa</a>
                        @Html.ActionLink("Về danh sách", "Index",  new { articleCategoryId = Model.ArticleCategoryId }, new { @class = "btn btn-default btn-sm" })
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

